@media (max-width: 768px) {
    nav ul {
        display: none;
        flex-direction: column;
        background-color: #35424a;
    }

    nav.show ul {
        display: flex;
    }

    navToggle {
        margin-top: 10px;
    }
}